 <div class="w-full bg-cover bg-center" style="height:37rem; background-image: url('/assets/red_courts.JPG');">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-white text-2xl font-semibold uppercase md:text-3xl">Go Out and Play <span class="underline text-orange-400">TODAY!</span></h1>

            </div>
        </div>
    </div>



      
