<div class="w-full h-full flex">
    <%= image_tag "ball_on_clay.JPG", class:"object-cover object-center h-screen w-7/12" %>
    <div class="bg-white flex flex-col justify-center items-center w-5/12 shadow-lg">
      <h1 class="text-3xl font-bold text-orange-500 mt-4 mb-2">Edit Profile</h1>
      <div class="w-1/2 text-center">

      <%= render 'form' %>

     